:root {
  --color-primary-500: #9139d8;
  --color-primary-400: #4a206d8e;
  --color-light: #FFFFFF;

  --color-dark-500: #0a0d13;
  --color-dark-400: #0d1118;
  --color-dark-300: #10151d;
  --color-dark-200: #171c24;

  /* Text */
  --color-text-primary: #e9e9e9;
  --color-text-secondary: #c7c7c7;

  /* States */
  --color-error: #be2d2d;
  --color-success: #43be5d;
}