:root {
  --color-primary: #9139d8;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-bg: #0a0d13;

  /* Text */
  --color-text-primary: #e9e9e9;
  --color-text-secondary: #c7c7c7;

  /* States */
  --color-error: #be2d2d;
  --color-success: #43be5d;
}