.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
  }
}
