@use './abstracts/variables';
@use './base/reset';
@use './base/typography';

body {
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
