
.input-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-grow: 1;
  .input {
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--color-dark-400);
    font-size: 1rem;
    color: var(--color-text-secondary);
    background-color: var(--color-dark-300);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.205);
    transition: border-color 0.1s ease-in-out;
    &:focus {
      outline: none;
      border-color: var(--color-primary-400);
    }
    &::placeholder {
      color: var(--color-text-secondary-500);
      opacity: 0.7;
    }
  }
  .icon-wrapper {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}
