.card {
  border-radius: 12px;
  overflow: hidden;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: transform .15s ease;

  &:hover {
    transform: scale(1.03);
  }
}
